footer {
  background-color: hsl(0, 0%, 0%);
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  color: hsl(0, 0%, 41%);
  font-size: 2rem;
  margin-top: 15%;
}

img {
  width: inherit;
}

.footer-list li:nth-child(1) {
  margin-top: 20px;
}

p {
  margin-top: 3%;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  text-align: center;
  color: hsl(0, 0%, 55%)
}

li {
  position: relative;
  cursor: pointer;
}

a {
  position: relative;
  cursor: pointer;
}

.button-container {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 23%;
}

.btn-light {
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-color: hsl(0, 0%, 0%);
  border-radius: 0;
  font-size: 1rem;
  padding: 3% 17%;
  letter-spacing: 4px;
}

.btn-light:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.container-fluid {
  padding: 5%;
}

.curiosity {
  background-image: url('../images/mobile/image-curiosity.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.creations {
  margin-left: 7%;
  margin-right: 7%;
}

.creations-container {
  margin-top: 10%;
}

.deep-earth {
  background-image: url('../images/mobile/image-deep-earth.jpg');
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fisheye {
  background-image: url('../images/mobile/image-fisheye.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-container {
  padding-top: 15%;
}

.footer-list {
  list-style: none;
  display: contents;
  vertical-align: top;
  line-height: 2.5;
  color: hsl(0, 0%, 100%);
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.from-above {
  background-image: url('../images/mobile/image-from-above.jpg');
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.grid {
  background-image: url('../images/mobile/image-grid.jpg');
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-image {
  background-image: url('../images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 650px;
}

.logo {
  margin-right: 36%;
  margin-left: 2%;
  width: 70%;
}

.middle-content {
  margin: 24% 7% 12%;
  line-height: 1.8;
}

.navbar-brand {
  z-index: 12;
}

.show {
  background: #000000;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: center;
  font-size: 2rem;
  z-index: 10;
  padding-top: 10%;
  margin-top: -30%;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  animation: hideMe 1s forwards;
}
@keyframes hideMe {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.navbar-toggler {
  border-color: transparent !important;
}

.night-arcade {
  background-image: url('../images/mobile/image-night-arcade.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pocket-borealis {
  background-image: url('../images/mobile/image-pocket-borealis.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slogan {
  color: hsl(0, 0%, 92%);
  border: .2rem solid white;
  padding: 6% 10% 4% 6%;
  text-align: left;
  margin-top: 43%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
}

.soccer-team {
  background-image: url('../images/mobile/image-soccer-team.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-overlay {
  color: hsl(0, 0%, 92%);
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: left;
  line-height: 1.2;
  font-size: 1.7rem;
  padding-top: 17%;
  padding-bottom: 4%;
  padding-left: 5%;
  background-color: rgb(0 0 0 / 28%);
}



/* Footer Styles  */
.social-icon {
  list-style: none;
  display: inline-flex;
  color: #FFFFFF;
  font-size: 28px;
  margin-top: 10%;
}

.fab {
  margin-right: 17px;
}

footer div a p {
  font-size: 1rem;
  margin-top: 0;
}

@media only screen

and (min-width: 390px) {

  /* NAVBAR */
  .navbar-nav {
    margin-left: 52% !important;
  }

  .nav-link {
    color: #FFFFFF !important;
  }

  .logo {
    width: 93%;
  }

  .col-lg-3:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .container-fluid {
    padding-left: 10%;
    padding-top: 3%;
    padding-right: 10%;
  }

  /* Header Styles */
  .slogan {
    margin-top: 0px;
    padding: 5% 0 4% 5%;
    font-size: 4.3rem;
  }

  .slogan-container {
    width: 64%;
    position: relative;
    top: 5rem;
  }

  /* Images */
  .hero-image {
    background-image: url('../images/desktop/image-hero.jpg') !important;
    background-size: contain;
  }

  .text-overlay {
    padding-top: 130%;
  }

  .deep-earth {
    background-image: url('../images/desktop/image-deep-earth.jpg');
  }

  .night-arcade {
    background-image: url('../images/desktop/image-night-arcade.jpg');
  }

  .soccer-team {
    background-image: url('../images/desktop/image-soccer-team.jpg');
    background-position: inherit;
  }

  .grid {
    background-image: url('../images/desktop/image-grid.jpg');
  }

  .from-above {
    background-image: url('../images/desktop/image-from-above.jpg');
  }

  .pocket-borealis {
    background-image: url('../images/desktop/image-pocket-borealis.jpg');
  }

  .curiosity {
    background-image: url('../images/desktop/image-curiosity.jpg');
    background-position: inherit;
  }

  .fisheye {
    background-image: url('../images/desktop/image-fisheye.jpg');
  }

  /* End of Images */
  /* Containers & Grid */
  .btn {
    padding: .5% 3%;
  }

  .button-container {
    margin-top: 0%;
    margin-bottom: -3%;
    display: flex;
    justify-content: flex-end;
  }

  .creations {
    margin-bottom: 12%;
  }

  .leaderVr {
    background-color: #FFFFFF;
    width: 505px;
    position: relative;
    left: 2%;
    top: 143px;
  }

  .leaderVr>h2 {
    font-size: 2.3rem;
    text-align: left;
    margin-left: 12%;
    margin-right: 12%;
  }

  .leaderVr>p {
    margin-left: 12%;
    margin-bottom: 15%;
    text-align: left;
    font-size: .95rem;
  }

  .middle-content {
    margin: 10% 7% 12%;
  }

  div.creations>div:nth-child(1)>div>h2 {
    text-align: left;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3%;
  }

  .text-overlay {
    background-color: rgb(0 0 0 / 15%);
    font-size: 1.9rem;
    padding: 130% 0 10% 17%;
  }

  img {
    width: auto;
  }

  /* Containers & Grids END */
  /* Footer */
  .footer-container {
    padding: 3% 10% 0% 10%;
  }

  .footer-list {
    display: flex;
  }

  .navbar-brand {
    display: flex;
  }

  ul {
    padding-left: 0;
    margin-top: 16px;
  }

  .fab {
    margin: 7px;
  }

  .footer-list>li {
    margin-top: 0;
    margin-right: 3%;
  }

  .footer-list li:nth-child(1) {
    margin-top: 0;
  }

  .social-container {
    text-align: right;
  }

  .social-icon {
    margin: 0;
  }

  .copyright-text {
    text-align: right;
  }

  .attribution {
    text-align: right !important;
  }

  /* JQUERY styles */
  ul>li:hover::after {
    background-color: white;
    /* border-bottom: 4px solid #FFFFFF; */
    content: '';
    display: block;
    height: 4px;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 25%;
  }

  a.nav-link:hover::after {
    background-color: white;
    /* border-bottom: 4px solid #FFFFFF; */
    content: '';
    display: block;
    height: 4px;
    width: 50%;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 25%;
  }

  #navbarNavAltMarkup>div>a.nav-link.active
}
